<form >
    <div class="animated fadeIn">           
        <div class="row">              
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                        <strong>Basic Details</strong>
                        </div>
                        <div class="card-body">
                        <div class="form-group">
                            <label for="FirstName">First Name</label>
                            <input type="text" class="form-control" id="FirstName" placeholder="Enter the First Name">
                        </div>
                        <div class="form-group">
                            <label for="LastName">Last Name</label>
                            <input type="text" class="form-control" id="LastName" placeholder="Enter the Last Name">
                        </div>
                        <div class="form-group">
                            <label for="Gender">Gender</label>
                            <div class="col-md-9 col-form-label">
                                <div class="form-check form-check-inline mr-1" id="Gender">
                                    <input class="form-check-input" type="radio" name="Gender" id="Gender" value="Male">
                                    <label class="form-check-label" for="Male">Male</label>
                                </div>
                                <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="Gender" id="Gender" value="Female">
                                <label class="form-check-label" for="Female">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="FatherName">Father Name</label>
                            <input type="text" class="form-control" id="FatherName" placeholder="Enter the Father Name">
                        </div>
                            
                        <div class="form-group">
                                <label for="DateOfBirth">Date Of Birth</label>
                                <div class="input-group">
                                    <input class="form-control" id="DateOfBirth" placeholder="Enter the Date Of Birth" placeholder="yyyy-mm-dd"
                                            name="d2" ngbDatepicker #d2="ngbDatepicker">
                                    <div class="input-group-append">
                                    <button class="btn btn-outline-secondary icon-calendar" (click)="d2.toggle()" type="button"></button>
                                    </div>
                                </div>
                            </div>

                        <div class="form-group">
                                <label  for="MaritalStatus">Marital Status</label>
                                <div class="col-md-9 col-form-label">
                                    <div class="form-check form-check-inline mr-1" id="MaritalStatus">
                                        <input class="form-check-input" type="radio" name="MaritalStatus" id="MaritalStatus" value="Male">
                                        <label class="form-check-label" for="Male">Married</label>
                                    </div>
                                    <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="radio" name="MaritalStatus" id="MaritalStatus" value="Female">
                                    <label class="form-check-label" for="Female">Unmarried</label>
                                    </div>
                                </div>
                            </div>        
                        <div class="form-group">
                                <label for="ContactNo">Contact No</label>
                                <input type="text" class="form-control" id="ContactNo" placeholder="Contact No">
                                </div>
                        <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="text" class="form-control" id="Email" placeholder="Enter the Email">
                                </div>
                        </div>
                    </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                    <div class="card">
                            <div class="card-header">
                                    <strong>Other Details</strong>
                                    </div>
                    <div class="card-body">

                            <div class="form-group">
                                <img id="blah" src="http://placehold.it/180" alt="Upload the Photo" />                                  
                            </div>
                            <div class="form-group">
                                <input type='file' id="Photo" />                         
                            </div>
 
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="input-normal">Medical Exam</label>
                                <div class="col-sm-6">
                                    <label class="switch switch-3d switch-danger">
                                            <input checked="" class="switch-input" type="checkbox">
                                    <span class="switch-slider"></span>
                                    </label>
                                </div>
                            </div>
                        <div class="form-group">
                            <label for="CompanyName">Company</label>
                            <select class="form-control" id="CompanyName">
                                <option>Zilding</option>
                                <option>Katbook</option>
                             </select>
                        </div>
                        <div class="form-group">
                                <label for="Designation">Designation</label>
                                <select class="form-control" id="Designation">
                                    <option>HR</option>
                                    <option>Developer</option>
                                </select>
                            </div>
                        <div class="form-group">
                                <label for="ReportToName">Report To</label>
                                <select class="form-control" id="ReportToName">
                                    <option>JeBin</option>
                                    <option>Prakash</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div><!--/.col-->
                <div class="col-sm-12">
                    <div class="card">
                            <div class="card-header">
                            <strong>Contact and Personal Details</strong>
                            </div>
                            <div class="card-body">
                                    <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="CurrentAddress">Present Address</label>
                                        <textarea class="form-control" id="CurrentAddress" name="textarea-input" placeholder="Present Address..." rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="State">State</label>
                                        <select class="form-control" id="State">
                                                <option>Tamil Nadu</option>
                                                <option>Kerala</option>
                                                <option>Karnataka</option>
                                                <option>Andhra Pradesh</option>
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="street">City</label>
                                        <select class="form-control" id="City">
                                                <option>Chennai</option>
                                                <option>Madurai</option>
                                                <option>Bangalore</option>
                                                <option>Wayanad</option>
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox"/>
                                            <label for="company"><h5>Is Present Address and Permenant Address are Same</h5></label>
                                        </div>
                                    <div class="form-group">
                                            <label for="company">Permenant Address</label>
                                            <textarea class="form-control" id="PermanentAddress" name="textarea-input" placeholder="Permenant Address..." rows="4"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="AdhaarNo">Adhaar No</label>
                                            <input type="text" class="form-control" id="AdhaarNo" placeholder="Enter the Adhaar No">
                                        </div>

                                        <div class="form-group">
                                            <label for="AlternateContactNo">Alternate Contact No</label>
                                            <input type="text" class="form-control" id="AlternateContactNo" placeholder="Enter Alternate ContactNo">
                                        </div>
                                        
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                            <label for="MotherName">Mother Name</label>
                                            <input type="text" class="form-control" id="MotherName" placeholder="Enter the Mother name">
                                        </div>

                                    <div class="form-group">
                                        <label for="BloodGroup">Blood Group</label>
                                        <select class="form-control" id="BloodGroup">
                                            <option>A+</option>
                                            <option>B+</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="DOJ">Date of Joining</label>
                                        <div class="input-group">
                                                <input class="form-control" id="DOJ" placeholder="Enter the Date Of Joining" placeholder="yyyy-mm-dd"
                                                        name="d2" ngbDatepicker #d2="ngbDatepicker">
                                                <div class="input-group-append">
                                                <button class="btn btn-outline-secondary icon-calendar" (click)="d2.toggle()" type="button"></button>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="form-group">
                                        <label for="ReferenceBy">Referenced By</label>
                                        <select class="form-control" id="ReferenceBy">
                                            <option>Jebin</option>
                                            <option>Pradeep</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="ReferenceContact1">Referance Contact 1</label>
                                        <input type="text" class="form-control" id="ReferenceContact1" placeholder="Referance Contact 1">
                                    </div><!--/.row-->
                                    <div class="form-group">
                                        <label for="country">Referance Contact 2</label>
                                        <input type="text" class="form-control" id="ReferenceContact2" placeholder="Referance Contact 1">
                                    </div>
                                    <div class="form-group">
                                            <label for="PreviousCompany">Previous Company</label>
                                            <input type="text" class="form-control" id="PreviousCompany" placeholder="Enter Previous Company">
                                        </div>
                                    <div class="form-group">
                                            <label for="JobType">Job Type</label>
                                            <input type="text" class="form-control" id="JobType" placeholder="Enter Job Type">
                                        </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="ShowBankDetails" />
                                            <label for="ShowBankDetails"><h5>Select if you have bank details</h5></label>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="col-md-12">
                    <div class="card">
                    <div class="card-header">
                            <strong>Bank Details</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-4">
                                    <label for="street">Account Number</label>
                                    <input type="text" class="form-control" id="street" placeholder="Enter street name">
                            </div>
                            <div class="col-4">
                                    <label for="street">Bank Name</label>
                                    <input type="text" class="form-control" id="street" placeholder="Enter street name">
                            </div>
                            <div class="col-4">
                                    <label for="street">IFSC Code</label>
                                    <input type="text" class="form-control" id="street" placeholder="Enter street name">
                            </div>
                            <div class="col-3">
                                    <label for="street">Branch Name</label>
                                    <input type="text" class="form-control" id="street" placeholder="Enter street name">
                            </div>
                            <div class="col-3">
                                    <label for="street">MICR Code</label>
                                    <input type="text" class="form-control" id="street" placeholder="Enter street name">
                            </div>

                            <div class="col-2 marginTop">
                                    <input type="checkbox" id="isPrimary" />
                                    <label for="isPrimary"><h5>Primary Account</h5></label>
                            </div>

                            <div class="col-3 marginTop">
                                    <button type="submit" class="btn btn-pill btn-warning">Add To List</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                            <div class="card">
                              <div class="card-body">
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>Username</th>
                                      <th>Date registered</th>
                                      <th>Role</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Yiorgos Avraamu</td>
                                      <td>2012/01/01</td>
                                      <td>Member</td>
                                      <td>
                                        <span class="badge badge-success">Active</span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Avram Tarasios</td>
                                      <td>2012/02/01</td>
                                      <td>Staff</td>
                                      <td>
                                        <span class="badge badge-danger">Banned</span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Quintin Ed</td>
                                      <td>2012/02/01</td>
                                      <td>Admin</td>
                                      <td>
                                        <span class="badge badge-secondary">Inactive</span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Enéas Kwadwo</td>
                                      <td>2012/03/01</td>
                                      <td>Member</td>
                                      <td>
                                        <span class="badge badge-warning">Pending</span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Agapetus Tadeáš</td>
                                      <td>2012/01/21</td>
                                      <td>Staff</td>
                                      <td>
                                        <span class="badge badge-success">Active</span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>

                          <div class="card-footer">
                                <button type="submit" class="btn btn-sm btn-primary">Action</button>
                                <button type="button" class="btn btn-sm btn-danger">Action</button>
                            </div>
                    </div>

                  
                </div>
        </div>   
    </div>     
</form> 