<div class="animated fadeIn"> 
        <div *ngIf="IsCreate || IsEdit">
        <form [formGroup]="EmployeeForm">          
        <div class="row">              
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                        <strong>Basic Details</strong>
                        </div>
                        <div class="card-body">
                        <div class="form-group">
                            <label for="FirstName">First Name</label>
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" formControlName="FirstName" id="FirstName" placeholder="Enter the First Name">
                            <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                                <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="LastName">Last Name</label>
                            <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" formControlName="LastName" id="LastName" placeholder="Enter the Last Name">
                            <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                                <div *ngIf="f.LastName.errors.required">Last Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Gender">Gender</label>
                            <div class="col-md-9 col-form-label">
                                <div class="form-check form-check-inline mr-1" id="Gender">
                                    <input class="form-check-input" type="radio" formControlName="Gender" name="Gender" id="Gender" value="Male" [ngClass]="{ 'is-invalid': submitted && f.Gender.errors }">
                                    <label class="form-check-label" for="Male">Male</label>
                                </div>
                                <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" formControlName="Gender" name="Gender" id="Gender" value="Female" [ngClass]="{ 'is-invalid': submitted && f.Gender.errors }">
                                <label class="form-check-label" for="Female">Female</label>
                                </div>   
                                <div *ngIf="submitted && f.Gender.errors" class="invalid-feedback">
                                        <div *ngIf="f.Gender.errors.required">Gender is required</div>
                                </div>     
                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="FatherName">Father Name</label>
                            <input type="text" class="form-control" formControlName="FatherName" id="FatherName" placeholder="Enter the Father Name"  [ngClass]="{ 'is-invalid': submitted && f.FatherName.errors }">
                            <div *ngIf="submitted && f.FatherName.errors" class="invalid-feedback">
                                <div *ngIf="f.FatherName.errors.required">Father Name is required</div>
                            </div>
                        </div>
                            
                        <div class="form-group">
                                <label for="DateOfBirth">Date Of Birth</label>                             
                                <div class="input-group" >
                                    <input class="form-control" formControlName="DateOfBirth" id="DateOfBirth" placeholder="Enter the Date Of Birth" placeholder="yyyy-mm-dd"
                                            name="d1" ngbDatepicker #d1="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && f.DateOfBirth.errors }" />
                                    <div class="input-group-append">
                                    <button class="btn btn-outline-secondary icon-calendar" (click)="d1.toggle()" type="button" ></button>
                                    </div>
                                    <div *ngIf="submitted && f.DateOfBirth.errors" class="invalid-feedback">
                                            <div *ngIf="f.DateOfBirth.errors.required">Date of Birth is required</div>
                                        </div>
                                </div>
                            </div>

                        <div class="form-group">
                                <label  for="MaritalStatus">Marital Status</label>
                                <div class="col-md-9 col-form-label">
                                    <div class="form-check form-check-inline mr-1" id="MaritalStatus" >
                                        <input class="form-check-input" formControlName="MaritalStatus" type="radio" name="MaritalStatus" id="MaritalStatus" value="Male" [ngClass]="{ 'is-invalid': submitted && f.MaritalStatus.errors }" >
                                        <label class="form-check-label" for="Male">Married</label>
                                    </div>
                                    <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" formControlName="MaritalStatus" type="radio" name="MaritalStatus" id="MaritalStatus" value="Female" [ngClass]="{ 'is-invalid': submitted && f.MaritalStatus.errors }" >
                                    <label class="form-check-label" for="Female">Unmarried</label>
                                    </div>
                                </div>
                                <div *ngIf="submitted && f.MaritalStatus.errors" class="invalid-feedback">
                                    <div *ngIf="f.MaritalStatus.errors.required">Marital Status is required</div>
                                </div>
                            </div>        
                        <div class="form-group">
                                <label for="ContactNo">Contact No</label>
                                <input type="text" class="form-control" formControlName="ContactNo" id="ContactNo" placeholder="Contact No" [ngClass]="{ 'is-invalid': submitted && f.ContactNo.errors }">
                                <div *ngIf="submitted && f.ContactNo.errors" class="invalid-feedback">
                                    <div *ngIf="f.ContactNo.errors.required">Contact No is required</div>
                                </div>
                            </div>
                        <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="text" class="form-control" formControlName="Email" id="Email" placeholder="Enter the Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                                <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                                        <div *ngIf="f.Email.errors.required">Email is required</div>
                                    </div>
                            </div>
                                
                        </div>
                    </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                    <div class="card">
                            <div class="card-header">
                                    <strong>Other Details</strong>
                                    </div>
                    <div class="card-body">

                            <div class="form-group">
                                <img id="blah" [src]="imageSrc || 'http://placehold.it/180'" alt="Upload the Photo" class="FixedSize" />                                  
                            </div>
                            <div class="form-group">
                                <input type='file' formControlName="Photo" id="Photo" (change)="readURL($event);" />                         
                            </div>
 
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="input-normal">Medical Exam</label>
                                <div class="col-sm-6">
                                    <label class="switch switch-3d switch-danger">
                                        <input checked="" class="switch-input" type="checkbox" formControlName="MedicalExam" [ngClass]="{ 'is-invalid': submitted && f.MedicalExam.errors }">
                                    <span class="switch-slider"></span>
                                    </label>
                                </div>
                                <div *ngIf="submitted && f.MedicalExam.errors" class="invalid-feedback">
                                        <div *ngIf="f.MedicalExam.errors.required">Meidical Exam is required</div>
                                    </div>
                            </div>
                        <div class="form-group">
                            <label for="Company">Company</label>
                            <select class="form-control" id="Company" formControlName="Company" (change)="getDesignation($event)" [ngClass]="{ 'is-invalid': submitted && f.Company.errors }">
                                <option value="">Select</option>
                                <option *ngFor="let company of CompanyData" [value]="company.CompanyId">{{company.CompanyName}}</option>
                             </select>
                             <div *ngIf="submitted && f.Company.errors" class="invalid-feedback">
                                    <div *ngIf="f.Company.errors.required">Company is required</div>
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="Designation">Designation</label>
                                <select class="form-control" id="Designation" formControlName="Designation" [ngClass]="{ 'is-invalid': submitted && f.Designation.errors }">
                                    <option value="">Select</option>
                                    <option *ngFor="let designation of designationData" [value]="designation.DesignationId">{{designation.DesignationName}}</option>
                                </select>
                                <div *ngIf="submitted && f.Designation.errors" class="invalid-feedback">
                                        <div *ngIf="f.Designation.errors.required">Designation is required</div>
                                    </div>
                            </div>
                        <div class="form-group">
                            <label for="ReportTo">Report To</label>
                            <select class="form-control" id="ReportTo" formControlName="ReportTo" [ngClass]="{ 'is-invalid': submitted && f.ReportTo.errors }">
                                <option>JeBin</option>
                                <option>Prakash</option>
                            </select>
                            <div *ngIf="submitted && f.ReportTo.errors" class="invalid-feedback">
                                <div *ngIf="f.ReportTo.errors.required">Report To is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NativePlace">Native Place</label>
                            <input type="text" class="form-control" id="NativePlace" formControlName="NativePlace" [ngClass]="{ 'is-invalid': submitted && f.NativePlace.errors }" placeholder="Enter the Native Place">
                            <div *ngIf="submitted && f.NativePlace.errors" class="invalid-feedback">
                                    <div *ngIf="f.NativePlace.errors.required">Native Place is required</div>
                                </div>
                        </div>
                        </div>
                    </div>
                </div><!--/.col-->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                        <strong>Contact and Personal Details</strong>
                        </div>
                        <div class="card-body">
                                <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="CurrentAddress">Present Address</label>
                                    <textarea class="form-control" id="CurrentAddress" formControlName="CurrentAddress" name="textarea-input" placeholder="Present Address..." rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="State">State</label>
                                    <select class="form-control" id="State" formControlName="State" (change)="getAllCity($event)">
                                            <option value="">Select</option>
                                            <option *ngFor="let state of stateData" [value]="state.StateId">{{ state.StateName}}</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                    <label for="street">City</label>
                                    <select class="form-control" id="City" >
                                            <option>Chennai</option>
                                            <option>Madurai</option>
                                            <option>Bangalore</option>
                                            <option>Wayanad</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox"/>
                                        <label for="company"><h5>Is Present Address and Permenant Address are Same</h5></label>
                                    </div>
                                <div class="form-group">
                                        <label for="PermanentAddress">Permenant Address</label>
                                        <textarea class="form-control" id="PermanentAddress"  formControlName="PermanentAddress" name="textarea-input" placeholder="Permenant Address..." rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="AdhaarNo">Adhaar No</label>
                                        <input type="text" class="form-control" id="AdhaarNo" formControlName="AdhaarNo" placeholder="Enter the Adhaar No">
                                    </div>

                                    <div class="form-group">
                                        <label for="AlternateContactNo">Alternate Contact No</label>
                                        <input type="text" class="form-control" id="AlternateContactNo" formControlName="AlternateContactNo" placeholder="Enter Alternate ContactNo">
                                    </div>                                       
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                            <label for="MotherName">Mother Name</label>
                                            <input type="text" class="form-control" id="MotherName" formControlName="MotherName" placeholder="Enter the Mother name">
                                        </div>
                                    <div class="form-group">
                                        <label for="BloodGroup">Blood Group</label>
                                        <select class="form-control" id="BloodGroup" formControlName="BloodGroup">
                                            <option>A+</option>
                                            <option>B+</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="DOJ">Date of Joining</label>
                                        <div class="input-group">
                                                <input class="form-control" id="DOJ" formControlName="DOJ" placeholder="Enter the Date Of Joining" placeholder="yyyy-mm-dd"
                                                        name="d2" ngbDatepicker #d2="ngbDatepicker">
                                                <div class="input-group-append">
                                                <button class="btn btn-outline-secondary icon-calendar" (click)="d2.toggle()" type="button"></button>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="form-group">
                                        <label for="ReferenceBy">Referenced By</label>
                                        <select class="form-control" id="ReferenceBy" formControlName="ReferenceBy">
                                            <option>Jebin</option>
                                            <option>Pradeep</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="ReferenceContact1">Referance Contact 1</label>
                                        <input type="text" class="form-control" id="ReferenceContact1" formControlName="ReferenceContact1" placeholder="Referance Contact 1">
                                    </div><!--/.row-->
                                    <div class="form-group">
                                        <label for="country">Referance Contact 2</label>
                                        <input type="text" class="form-control" id="ReferenceContact2" formControlName="ReferenceContact2" placeholder="Referance Contact 1">
                                    </div>
                                    <div class="form-group">
                                            <label for="PreviousCompany">Previous Company</label>
                                            <input type="text" class="form-control" id="PreviousCompany" formControlName="PreviousCompany" placeholder="Enter Previous Company">
                                        </div>
                                    <div class="form-group">
                                            <label for="JobType">Job Type</label>
                                            <input type="text" class="form-control" id="JobType" formControlName="JobType" placeholder="Enter Job Type">
                                        </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="ShowBankDetails" formControlName="ShowBankDetails" />
                                            <label for="ShowBankDetails"><h5>Select if you have bank details</h5></label>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="col-md-12">
                    <div class="card">
                    <div class="card-header">
                            <strong>Bank Details</strong>
                    </div>
                    <form [formGroup]="BankForm">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-4">
                                    <label for="AccountNo">Account Number</label>
                                    <input type="text" class="form-control" id="AccountNo" formControlName="AccountNo" placeholder="Enter Account Number ">
                            </div>
                            <div class="col-4">
                                    <label for="BankName">Bank Name</label>
                                    <input type="text" class="form-control" id="BankName" formControlName="BankName" placeholder="Enter Bank Name">
                            </div>
                            <div class="col-4">
                                    <label for="IFSC">IFSC Code</label>
                                    <input type="text" class="form-control" id="IFSC" formControlName="IFSC" placeholder="Enter IFSC Code">
                            </div>
                            <div class="col-3">
                                    <label for="Branch">Branch Name</label>
                                    <input type="text" class="form-control" id="Branch" formControlName="Branch" placeholder="Enter Branch Name">
                            </div>
                            <div class="col-3">
                                    <label for="MICR">MICR Code</label>
                                    <input type="text" class="form-control" id="MICR" formControlName="MICR" placeholder="Enter MICR Code">
                            </div>
                            <div class="col-2 marginTop">
                                    <input type="checkbox" id="isPrimary" formControlName="isPrimary" />
                                    <label for="isPrimary"><h5>Primary Account</h5></label>
                            </div>
                            <div class="col-3 marginTop">
                                    <button type="submit" class="btn btn-pill btn-warning">Add To List</button>
                            </div>
                        </div>
                    </div>
                </form>

                    <div class="col-sm-12">
                            <div class="card">
                              <div class="card-body">
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>Account Number</th>
                                      <th>Bank Name</th>
                                      <th>IFSC Code</th>
                                      <th>Branch Name</th>
                                      <th>MICR Code</th>
                                      <th>IsPrimary</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let bank of BankData">
                                      <td>{{bank.AccountNo}}</td>
                                      <td>{{bank.BankName}}</td>
                                      <td>{{bank.IFSC}}</td>
                                      <td>{{bank.Branch}}</td>
                                      <td>{{bank.MICR}}</td>
                                      <td>{{bank.isPrimary}}</td>
                                    </tr>
                                   
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>

                            <div class="card-footer">
                                <button type="button" class="btn btn-sm btn-danger pull-right" (click)="OnCancelBtnClick()">Cancel</button> 
                                <button type="submit" class="btn btn-sm btn-primary pull-right" (click)="saveEmployee()">Submit</button>
                            </div>
                    </div>
                </div>
        </div>
    </form>   
</div>


    <div>
        <div class="row" *ngIf="!IsCreate && !IsEdit">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <i class="fa fa-align-justify"></i> <strong>List Of Available Employees</strong>
                    </div>
                    <div class="card-body">

                    <div class="row align-items-center">
                        <div class="form-group">
                            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                                <label for="ccnumber"></label>
                                <button type="button" class="btn btn-block btn-primary" 
                                (click)=OnCreateNewEmployeeBtnClick()>Create New Employee</button>
                                </div>
                            </div>
                        </div>

                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>EmployeeId</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Designation</th>
                            <th>Company</th>
                            <th>ReportTo</th>
                            <th>Active</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let employee of EmployeeList">
                            <td>{{employee.EmployeeId}}</td>
                            <td>{{employee.FirstName}}</td>
                            <td>{{employee.ContactNo}}</td>
                            <td>{{employee.DesignationName}}</td>
                            <td>{{employee.CompanyName}}</td>
                            <td>{{employee.ReportToName}}</td>
                            <td>{{employee.Active}}</td>
                            <td>
                              <button type="button" class="btn btn-primary" (click)="OnEdit(role)">Edit</button>
                              <button type="button" class="btn btn-danger" (click)="OnDelete(role)">Delete</button>
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--/.col-->
            </div>
        </div>
    </div>     
 